

// fonts

$font: 'Arimo', sans-serif;;

//colors
$bg-color-wht: #fff;
$bg-color-grey: #f5f5f5;
$btn-bg-color-first: #009C41;
$btn-bg-color-second: #c4c4c4;


$main-font-color: #fff;
$sub-font-color: #888;
$third-font-color: #fff;

